/* Gameingcard.css */

.game-card {
    width: 300px;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 10px;
    background-color: #fff;
    transition: box-shadow 0.3s ease, transform 0.3s ease;
    display: inline-block;
    vertical-align: top;
    text-align: left;
}

.game-card:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    transform: translateY(-5px);
}

.game-image img {
    width: 100%;
    height: auto;
    display: block;
}

.game-details {
    padding: 20px;
}

.game-category {
    font-size: 14px;
    color: #555;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.arrow-icon {
    font-size: 16px;
    color: #333;
}

.game-title {
    font-size: 24px;
    margin-bottom: 10px;
}

.game-platform {
    font-size: 14px;
    color: #777;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

.platform-icon {
    width: 16px;
    height: 16px;
    background-color: #ddd;
    margin-right: 5px;
    display: inline-block;
}

.game-rating,
.game-year {
    font-size: 14px;
    color: #777;
    margin-bottom: 10px;
}

.game-description {
    font-size: 16px;
    color: #333;
    line-height: 1.5;
}

.explore-details-button {
    background-color: #FFC107;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 15px;
}

.explore-details-button:hover {
    background-color: #FFC107;
}

.nav-link {
    display: block;
}

/* Tablet */
@media (max-width: 1024px) {
    .game-card {
        width: 250px;
        margin: 8px;
    }

    .game-title {
        font-size: 20px;
    }

    .game-description {
        font-size: 14px;
    }

    .explore-details-button {
        font-size: 14px;
        padding: 8px 16px;
    }
}

/* Phone */
@media (max-width: 768px) {
    .game-card {
        width: 100%;
        margin: 10px 0;
        display: block;
    }

    .game-title {
        font-size: 18px;
    }

    .game-description {
        font-size: 12px;
    }

    .explore-details-button {
        font-size: 12px;
        padding: 6px 12px;
    }

    .game-details {
        padding: 15px;
    }
}